
/* Your CSS Code here. */
#container-fluid{
    margin: 20px 25px;
}
/* #warn{
    padding: 0px 400px;
    text-align: center;

} */
#button-5{
    padding: 0px 406px;
    text-align: center;
    margin-top: 5px;
}
